:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    background-image: linear-gradient( 135deg, #1c5392 10%, #068b97 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Adiciona esta linha */
    min-height: 100vh;
    /* Adiciona esta linha */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}